@import "elements.less";

:root {
    --fancybox-thumbs-width: 50px;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
    outline: none !important;
}

.fancybox__toolbar {
    --carousel-button-svg-width: 44px;
    --carousel-button-svg-height: 44px;
}

.fancybox__content {
    img {
        max-height: 75vh !important;
    }
}

.fancybox__backdrop {
    background-color: rgba(18, 18, 18, 0.8);
}

.fancybox__thumb {
    padding-top: calc(~"100%/(var(--fancybox-thumbs-ratio, 0.92))");
    border-radius: 0;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-width: 0;
}

.fancybox__thumbs .carousel__slide {
    width: 50px;
}

.fancybox__slide::before,
.fancybox__slide::after {
    display: none;
}

.fancybox__track {
    align-items: center;
}

.fancybox__container {
    justify-content: center;
}

.fancybox__carousel {
    height: unset;
    // flex: unset;
    // flex: initial;
}

.fancybox__nav {
    .carousel__button {
        width: 62px;
        height: 62px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

    }
}

.hero-section {
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .overlay-video {
        z-index: 1;
        overflow: hidden;

        &::after {
            background-color: rgba(0, 0, 0, 0.4);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    .container {
        height: 100vh;
        z-index: 2;
        position: relative;
    }

    .hero-content {
        color: @white;

        h1 {
            font-size: 45px;
            font-weight: 700;
        }
    }
}

#manufacturing {
    background: linear-gradient(#C3002F 30%, #8F0526 30%, #8F0526 80%, #C3002F 80%);
    padding: 50px 0;

    .block-container {
        display: flex;
        flex-direction: column;

        &:hover {

            .block-title {
                display: none;
            }

        }
    }

    .image-wrapper {
        img {
            object-fit: cover;
            width: 100%;
            border-radius: 25px 25px 0 0;
            height: 240px;
        }
    }

    .content-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: @white;
        padding: 20px;
        border-radius: 0 0 25px 25px;
        display: flex;
        justify-content: space-between;

        .content-block {
            .h2 {
                margin-bottom: 20px;
            }

            .content {
                margin-bottom: 20px;
            }
        }
    }
}

.section-round-img {
    .title-img-wrapp {
        padding-top: 50px;
    }

    .title-img-container {
        background-image: url('../img/nissan-test.jpg');
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 400px;
    }

    .h2-title-img {
        text-transform: uppercase;
        font-size: 320px;
        font-weight: 700;
        color: @white;
        opacity: 0.5;
        line-height: 0.68;
    }

    .container-img-round {
        position: relative;

        h2 {
            color: @red;
            font-weight: 700;
        }
    }

    .content-img-round {
        padding: 100px 0;
    }

    .img-round {
        border: 20px solid @dark-grey;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 700px;
        width: 700px;
        object-fit: cover;
    }

    .img-round-wrapp {
        position: absolute;
        right: -90px;
        top: -200px;
        border: 80px solid #70707031;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}


.section-slider {
    color: @white;
    padding: 100px 0;

    .container {
        max-width: 1000px;

    }

    .slick-list {
        border-radius: 25px;
    }

    .slick-prev,
    .slick-next {
        &::before {
            color: @red;
            opacity: 1;
        }
    }

    .slick-prev {
        left: -15px;
        z-index: 2;
    }

    .slick-next {
        right: -15px;
    }

    .slick-disabled {
        &::before {
            color: @dark-grey;
        }
    }

    .slick-dots {

        li {
            width: 80px;
            height: 10px;

            button {
                &::before {
                    content: '';
                    opacity: 1;
                    border: 1px solid @dark-red;
                    width: 80px;
                    height: 10px;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        background-color: @dark-red;
                    }
                }
            }
        }


    }

    .slide {
        padding: 100px 50px 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 25px;

        &::after {
            content: "";
            background-color: rgba(0, 0, 0, 0.1);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .slider-content {
            max-width: 70%;
            position: relative;
            z-index: 2;

            h2 {
                font-size: 65px;
                line-height: 0.8;
                margin-bottom: 20px;
            }
        }
    }

    .slide-1 {
        background-image: url('../img/nissan-test.jpg');
    }

    .slide-2 {
        background-image: url('../img/nissan-test.jpg');
    }

    .slide-3 {
        background-image: url('../img/nissan-test.jpg');
    }
}

#employee-focus {
    padding: 150px 0;

    .block-container {
        position: relative;
        &:hover .chevron-elem {
            transform: rotate(3.142rad);
        }
    }

    .block-overlay-hidden {
        position: relative;
        overflow: hidden;

       
    }


    h2 {
        text-align: center;
        color: @grey-2;
        margin-bottom: 20px;
    }

    .block-img {
        img {
            height: 400px;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    .block-title {
        position: absolute;
        bottom: 0;
        padding: 50px 0 20px;
        width: 100%;
        text-align: center;
        background: linear-gradient(#ffffff85 30%, #ffffff 80%);
        border-radius: 0 0 25px 25px;

        .title-h3 {
            color: @grey-2;
        }
    }

    .hover-block-wrapp {
        display: none;
        position: absolute;
        top: 50px;
        background: #ffffffd9;
        border-radius: 25px;
        height: 100%;
        padding: 50px;
        pointer-events: none;

        .title-h3 {
            font-size: 35px;
            text-align: center;
        }

        .hover-block-content {
            ul {
                font-size: 20px;
                margin-bottom: 20px;

                li {
                    position: relative;
                    margin-left: 10px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -15px;
                        top: 10px;
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        background-color: @red;
                    }
                }
            }
        }
    }

    .chevron-elem {
        background-image: url('../img/chevron-up.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -15px;
        left: 45%;
        height: 30px;
        width: 30px;
        background-color: @red;
        border-radius: 50%;
        z-index: 3;

        &:hover {
            transform: rotate(3.142rad);
        }
    }
}