h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-size: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
body {
  margin: 0;
  font-family: 'NissanPro';
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  overflow-x: hidden;
  color: #343434;
}
body #page {
  position: relative;
  overflow: hidden;
}
section {
  overflow: hidden;
}
.container {
  max-width: 1284px;
}
.container-small {
  max-width: 670px;
}
.h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.h2-custom {
  color: #ffffff;
  font-size: 40px;
  line-height: 53px;
}
.h2-nissan {
  font-size: 80px;
  line-height: 102px;
  color: #C3092F;
  font-weight: 700;
  margin-bottom: 16px;
}
.h4-custom {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.bg-red {
  background-color: #C3002F;
}
.bg-dark-red {
  background-color: #8F0526;
}
.btn {
  position: relative;
  text-align: center;
  padding: 15px 40px;
}
.btn::before {
  content: '>';
  position: absolute;
  right: -15px;
}
.btn-red {
  background-color: #C3002F;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #8F0526;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.link {
  color: #C3002F;
  text-transform: capitalize;
}
.link:hover {
  color: #8F0526;
}
