@font-face {
    font-family: NissanBrand;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/NissanBrandW01-Light.eot");
    src: url("../fonts/NissanBrandW01-Light.woff") format("woff"),
        url("../fonts/NissanBrandW01-Light.ttf") format('truetype'),
        url("../fonts/NissanBrandW01-Light.svg") format("svg");
}

@font-face {
    font-family: NissanPro;
    font-weight: 300;
    font-style:italic;
    src: url("../fonts/NissanProLightIta.otf") format("opentype");
}

@font-face {
    font-family: NissanBrand;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/NissanBrandW01-Regular.eot");
    src: url("../fonts/NissanBrandW01-Regular.woff") format("woff"),
        url("../fonts/NissanBrandW01-Regular.ttf") format('truetype'),
        url("../fonts/NissanBrandW01-Regular.svg") format("svg");
}

@font-face {
    font-family: NissanPro;
    font-weight: 400;
    font-style:italic;
    src: url("../fonts/NissanBrandW01-Italic.eot");
    src: url("../fonts/NissanBrandW01-Italic.woff") format("woff"),
        url("../fonts/NissanBrandW01-Italic.ttf") format('truetype'),
        url("../fonts/NissanBrandW01-Italic.svg") format("svg");
}

@font-face {
    font-family: NissanPro;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NissanProMedium.otf") format("opentype");
}

@font-face {
    font-family: NissanBrand;
    font-weight: 700;
    src: url("../fonts/NissanBrandW01-Bold.eot");
    src: url("../fonts/NissanBrandW01-Bold.woff") format("woff"),
        url("../fonts/NissanBrandW01-Bold.ttf") format('truetype'),
        url("../fonts/NissanBrandW01-Bold.svg") format("svg");
}

@font-face {
    font-family: NissanProSuper;
    src: url("../fonts/NissanProSuper.otf") format("opentype");
}