h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}
body #page {
  position: relative;
  overflow: hidden;
}
.h2 {
  font-size: 30px;
  font-weight: 700;
}
.bg-red {
  background-color: #C3002F;
}
.btn {
  position: relative;
  text-align: center;
  padding: 15px 40px;
}
.btn::before {
  content: '>';
  position: absolute;
  right: -15px;
}
.btn-red {
  background-color: #C3002F;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #C10933;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
:root {
  --fancybox-thumbs-width: 50px;
}
.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none !important;
}
.fancybox__toolbar {
  --carousel-button-svg-width: 44px;
  --carousel-button-svg-height: 44px;
}
.fancybox__content img {
  max-height: 75vh !important;
}
.fancybox__backdrop {
  background-color: rgba(18, 18, 18, 0.8);
}
.fancybox__thumb {
  padding-top: calc(100%/(var(--fancybox-thumbs-ratio, 0.92)));
  border-radius: 0;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-width: 0;
}
.fancybox__thumbs .carousel__slide {
  width: 50px;
}
.fancybox__slide::before,
.fancybox__slide::after {
  display: none;
}
.fancybox__track {
  align-items: center;
}
.fancybox__container {
  justify-content: center;
}
.fancybox__carousel {
  height: unset;
}
.fancybox__nav .carousel__button {
  width: 62px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.fancybox__button--close {
  position: absolute;
  right: 30px;
  top: 30px;
}
.hero-section {
  position: relative;
}
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero-section .overlay-video {
  z-index: 1;
  overflow: hidden;
}
.hero-section .overlay-video::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.hero-section .container {
  height: 100vh;
  z-index: 2;
  position: relative;
}
.hero-section .hero-content {
  color: #ffffff;
}
.hero-section .hero-content h1 {
  font-size: 45px;
  font-weight: 700;
}
#manufacturing {
  background: linear-gradient(#C3002F 30%, #8F0526 30%, #8F0526 80%, #C3002F 80%);
  padding: 50px 0;
}
#manufacturing .block-container {
  display: flex;
  flex-direction: column;
}
#manufacturing .image-wrapper img {
  object-fit: cover;
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 240px;
}
#manufacturing .content-wrapper {
  height: 100%;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-between;
}
#manufacturing .content-wrapper .content-block .h2 {
  margin-bottom: 20px;
}
#manufacturing .content-wrapper .content-block .content {
  margin-bottom: 20px;
}
