h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-size: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
div {
  box-sizing: border-box;
}
a {
  color: #C3092F;
  text-decoration: none;
  transition: color 0.3s ease;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'NissanBrand';
  font-weight: 500;
  line-height: 27px;
  color: #343434;
  overflow-x: initial !important;
}
body #page {
  position: relative;
  overflow: hidden;
}
.main-content {
  overflow: hidden;
  max-width: 1500px;
  margin: auto;
}
.container {
  max-width: 1284px;
}
.container-big {
  max-width: 1374px;
}
.container-middle {
  max-width: 1070px;
}
.container-small {
  max-width: 670px;
}
.h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.h1-custom,
.h2-custom {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  line-height: 64px;
}
.h2-nissan {
  font-size: 72px;
  line-height: 102px;
  color: #C3092F;
  font-weight: 300;
  margin-bottom: 16px;
}
.h4-custom {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.bg-red {
  background-color: #C3002F;
}
.c-red {
  color: #C3002F;
}
.c-red-dark {
  color: #8F0526;
}
.bg-dark-red {
  background-color: #8F0526;
}
.t-big {
  font-size: 50px !important;
}
.btn {
  position: relative;
  text-align: center;
  padding: 15px 40px;
}
.btn::before {
  content: '>';
  position: absolute;
  right: -15px;
}
.btn-red {
  background-color: #C3002F;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #8F0526;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.link {
  color: #C3002F;
  text-transform: capitalize;
}
.link:hover {
  color: #8F0526;
}
.menu-page-bottom {
  background-color: #000000;
  padding: 13px 0 11px;
  font-size: 16px;
  line-height: 20px;
  max-width: 1500px;
  margin: auto;
}
.menu-page-bottom .mpb-container {
  max-width: 322px;
}
.menu-page-bottom .mpb-row {
  justify-content: center;
}
.menu-page-bottom .mpb-col {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0 12px;
}
.menu-page-bottom a {
  color: #EFEFEF;
}
.menu-page-bottom a:hover::before,
.menu-page-bottom a.active:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -11px;
  border-bottom: 4px solid #C3002F;
}
.hero-section {
  position: relative;
  background-color: #C3002F;
  padding: 55px 0;
  max-width: 1500px;
  margin: auto;
}
.hero-section .overlay {
  position: absolute;
  background-color: #00000020;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-section .video-hero {
  position: relative;
  max-width: 835px;
  max-height: 468px;
  margin: auto;
}
.hero-section #video-hero-bg {
  width: 100%;
  height: 468px;
}
.hero-section video {
  position: absolute;
  width: 100%;
  height: 468px;
}
.hero-section .hero-content {
  cursor: pointer;
  color: #ffffff;
}
.hero-section .hero-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.hero-section .hero-content .hero-title {
  max-width: 380px;
  font-size: 72px;
  font-weight: 300;
  line-height: 65px;
  position: absolute;
  bottom: 25px;
  left: 12px;
}
.hero-section p {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}
.hero-section .hero-right-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#manufacturing {
  background: linear-gradient(#C3002F 35%, #8F0526 30%);
  padding: 68px 0 87px;
}
#manufacturing .container-small {
  margin-bottom: 55px;
  color: #ffffff;
}
#manufacturing .blocks-wrapper {
  gap: 36px;
  padding: 0 12px;
}
#manufacturing .link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  padding-right: 20px;
  transition: 0.5s ease all;
}
#manufacturing .link:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 9px;
  height: 14px;
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#manufacturing .link:hover:before {
  background-image: url('../img/arrow-right-hover.svg');
}
#manufacturing .block-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}
#manufacturing .block-container:hover .block-title {
  display: none;
}
#manufacturing .block-container:hover img {
  transform: scale(1.1);
}
#manufacturing .block-container:hover .link {
  padding-right: 30px;
}
#manufacturing .block-container:hover .content-wrapper {
  background-color: #EFEFEF;
}
#manufacturing .image-wrapper {
  overflow: hidden;
  min-height: 240px;
  border-radius: 30px 30px 0 0;
}
#manufacturing .image-wrapper img {
  transition: 0.5s ease all;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
}
#manufacturing .content-wrapper {
  height: 100%;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px 45px 35px;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-between;
}
#manufacturing .content-wrapper .content-block .h4-custom {
  margin-bottom: 13px;
}
#manufacturing .content-wrapper .content-block .content {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 24px;
}
.location-explore {
  background-image: url('../img/webp/location-explore.webp'), url('../img/location-explore.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0 500px;
}
.location-explore.active {
  background-color: #EFEFEF;
  background-image: none;
  padding: 116px 0 118px;
}
.location-explore.active .main-container {
  gap: 35px;
}
.location-explore.active .location-explore-wrapper {
  padding: 18px 46px 35px;
  margin-bottom: 45px;
}
.location-explore.active .logo-location {
  margin: auto;
  margin-bottom: 25px;
}
.location-explore.active .product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px 55px;
  width: 100%;
}
.location-explore.active .product-container .build {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.location-explore.active .product-container .build a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}
.location-explore.active .product-container .product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 30px;
  gap: 9px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #8F0526;
}
.location-explore.active .product-list {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.location-explore.active .product-list li.active {
  color: #C3002F;
}
.location-explore .product-slider {
  max-width: 485px;
}
.location-explore .product-slider .slick-prev,
.location-explore .product-slider .slick-next {
  bottom: 50%;
  transform: translateY(-50%);
}
.location-explore .product-slider .slide img {
  height: 148px;
  object-fit: contain;
  margin: auto;
}
.location-explore .loc-exp-bottom {
  justify-content: space-between;
}
.location-explore .loc-exp-bottom .bottom-col {
  border-radius: 30px;
  padding: 20px 48px;
  font-size: 60px;
  font-weight: 700;
  line-height: 40px;
  max-width: 288px;
  height: 100%;
}
.location-explore .loc-exp-bottom .bottom-col span {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
}
.location-explore .loc-exp-bottom .bottom-col.bc-1 {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
}
.location-explore .loc-exp-bottom .bottom-col.bc-1 .title {
  color: #8F0526;
}
.location-explore .loc-exp-bottom .bottom-col.bc-1 p {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 60px;
}
.location-explore .loc-exp-bottom .bottom-col.bc-2 {
  background-color: #C3002F;
  color: #ffffff;
  font-size: 48px;
}
.location-explore .loc-exp-bottom-2 .bottom-col.bc-2 {
  font-size: 60px;
  line-height: 40px;
}
.location-explore .investments {
  font-size: 36px;
  color: #ffffff;
  gap: 5px;
}
.location-explore .investments p {
  line-height: 66px;
  font-weight: 300;
}
.location-explore .investments span {
  font-size: 60px;
  font-weight: 700;
}
.location-explore a.gallery {
  position: relative;
  background-image: url(../img/webp/location-explore.webp), url(../img/location-explore.png);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
  padding: 41px 15px 32px;
  color: #ffffff;
}
.location-explore a.gallery span,
.location-explore a.gallery svg {
  z-index: 2;
}
.location-explore a.gallery .dark-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000080;
  border-radius: 30px;
}
.location-explore .property {
  background-color: #ffffff;
  font-size: 36px;
  padding: 25px 0 30px;
  gap: 6px;
}
.location-explore .property .title {
  margin-bottom: 24px;
}
.location-explore .property .block {
  font-weight: 300;
}
.location-explore .property .block b {
  font-size: 60px;
  font-weight: 700;
  line-height: 40px;
}
.location-explore .property .block:first-child {
  border-bottom: 1px solid #8F0526;
}
.location-explore .property .block-1 {
  border-bottom: 1px solid #8F0526;
  padding-bottom: 20px;
}
.location-explore .property .block + .block {
  margin-top: 20px;
}
.location-explore .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.le-section-right {
  display: flex;
  justify-content: space-between;
}
.le-section-right-2 .product-slider .slide img {
  height: 148px;
  margin: auto;
}
.le-section-right-2 a.gallery {
  background-image: url('../img/webp/smyrna-front-lobby.webp'), url('../img/smyrna-front-lobby.png');
}
.le-section-right-3 {
  flex-direction: column;
  gap: 35px;
}
.le-section-right-3 .subtitle {
  color: #C3002F;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.le-section-right-3 .product-container {
  padding: 20px 0 0 !important;
  height: 100%;
}
.le-section-right-3 .product-container .product-title {
  margin-bottom: 10px !important;
}
.le-section-right-3 ul {
  max-height: 375px;
  overflow: auto;
}
.le-section-right-3 ul::-webkit-scrollbar {
  display: none;
}
.le-section-right-3 li {
  font-size: 16px;
  line-height: 20px;
  padding: 15px 0;
}
.le-section-right-3 li span {
  font-size: 18px;
  font-weight: 700;
}
.le-section-right-3 li:not(:last-child) {
  border-bottom: 1px solid #8F0526;
}
.le-section-right-3 .scroll-me {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #8F0526;
  align-items: center;
  gap: 5px;
}
.gallery-wrap {
  display: flex;
  max-width: 290px;
}
.investments,
.gallery,
.property {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 290px;
  border-radius: 30px;
  padding: 20px 15px 15px;
}
.loc-exp-container {
  max-width: 615px;
  text-align: center;
}
.loc-exp-container .title-nissan {
  font-size: 27px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.loc-exp-container .title-state {
  font-size: 41px;
  font-weight: 700;
  font-weight: 40px;
  margin-bottom: 26px;
}
.location-explore-wrapper {
  width: 612px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 18px 50px 0;
}
.location-explore-wrapper .custom-h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #8F0526;
  margin-bottom: 7px;
}
.location-explore-wrapper .title-top {
  font-size: 32px;
  line-height: 41px;
  font-weight: 700;
  transition: font-size 0.5s;
}
.location-explore-wrapper .title-bottom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.location-explore-wrapper .location-block {
  padding-bottom: 18px;
}
.location-explore-wrapper .location-block:hover,
.location-explore-wrapper .location-block.active {
  padding-bottom: 15px;
  cursor: pointer;
}
.location-explore-wrapper .location-block:hover .title-top,
.location-explore-wrapper .location-block.active .title-top {
  transform: scale(1.08);
  transition: all 0.5s;
  margin-bottom: 3px;
  color: #C3002F;
}
.location-explore-wrapper .location-block:hover .title-bottom,
.location-explore-wrapper .location-block.active .title-bottom {
  color: #C3002F;
}
.location-explore-wrapper .info-block {
  border-top: solid 1px #8F0526;
  padding-top: 22px;
}
.location-explore-wrapper .info-block a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  transition: 0.5s ease all;
}
.location-explore-wrapper .info-block a::before {
  content: '';
  position: absolute;
  right: -27px;
  background: url('../img/arrow-right.svg') no-repeat;
  height: 15px;
  width: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.location-explore-wrapper .info-block a:hover::before {
  right: -32px;
}
.location-explore-wrapper .info-block p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}
.location-explore-wrapper .info-block.info-block-2 {
  justify-content: center;
}
.location-explore-wrapper .info-block.info-block-3 {
  justify-content: end;
}
.slick-prev,
.slick-next {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.slick-prev::before,
.slick-next::before {
  content: "";
  position: absolute;
  background-image: url('../img/arrow-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  width: 34px;
  height: 34px;
  font-size: 32px;
  opacity: 1;
}
.slick-prev {
  z-index: 2;
}
.slick-prev:before {
  left: 0px;
  top: 0;
  transform: rotate(270deg);
}
.slick-next:before {
  right: 0px;
  top: 0;
  transform: rotate(90deg);
}
.section-slider {
  color: #ffffff;
  padding: 130px 0 140px;
}
.section-slider .container {
  max-width: 855px;
}
.section-slider .slick-list {
  border-radius: 30px;
}
.section-slider .slick-disabled::before {
  color: #707070;
}
.section-slider .slick-dots {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.section-slider .slick-dots li {
  width: 80px;
  height: 10px;
}
.section-slider .slick-dots li button::before {
  content: '';
  opacity: 1;
  border: 1px solid #C3002F;
  width: 87px;
  height: 10px;
}
.section-slider .slick-dots li.slick-active button::before {
  background-color: #C3002F;
}
.section-slider .slide {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 266px 50px 55px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  height: 475px;
  text-align: center;
}
.section-slider .slide::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.022);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.section-slider .slide .slider-content {
  position: relative;
  z-index: 2;
}
.section-slider .slide .slider-content h2 {
  font-size: 100px;
  line-height: 129px;
}
.section-slider .slide .slider-content p {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.section-slider .slide-1 {
  padding: 290px 255px 45px 50px;
  background-image: url('../img/webp/slide-1.webp'), url('../img/slide-1.png');
}
.section-slider .slide-1 .slider-content h2 {
  font-size: 60px;
  line-height: 60px;
}
.section-slider .slide-2 {
  background-image: url('../img/webp/slide-2.webp'), url('../img/slide-2.png');
}
.section-slider .slide-3 {
  background-image: url('../img/webp/slide-3.webp'), url('../img/slide-3.png');
}
.section-slider .slide-4 {
  background-image: url('../img/webp/slide-4.webp'), url('../img/slide-4.png');
}
.section-slider .slide-5 {
  background-image: url('../img/webp/man-smiling.webp'), url('../img/man-smiling.png');
}
.section-slider .slide-6 {
  background-image: url('../img/webp/man-smiling.webp'), url('../img/man-smiling.png');
}
.section-slider .swipe-mob {
  display: none;
}
.section-slider .swipe-mob .img-wrapp {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #C3002F;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.section-slider .swipe-mob .img-wrapp img {
  transform: rotate(90deg);
  width: 17px;
  height: 13px;
}
.section-round-img .title-img-wrapp {
  padding-top: 24px;
}
.section-round-img .title-img-container {
  position: relative;
  height: 485px;
  background-image: url('../img/webp/banner-section-round.webp'), url('../img/banner-section-round.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-round-img.product .title-img-container {
  background-image: url('../img/webp/production.webp'), url('../img/production.png');
}
.section-round-img.product .img-round-wrapp {
  right: -70px;
}
.section-round-img.purpose .title-img-container {
  height: 640px;
  background-image: url('../img/webp/purpose-banner.webp'), url('../img/purpose-banner.png');
}
.section-round-img.purpose .img-round-wrapp {
  right: -70px;
  top: -182px;
}
.section-round-img.purpose .content-img-round {
  padding-bottom: 0;
}
.section-round-img .h2-title-img {
  position: absolute;
  font-weight: bold;
  bottom: 0;
  left: -15px;
  text-transform: uppercase;
  font-size: 16.25rem;
  line-height: 185px;
  color: #ffffff;
  opacity: 39%;
}
.section-round-img a {
  text-decoration: underline;
}
.section-round-img a:hover {
  text-decoration: none;
}
.section-round-img .container-img-round {
  position: relative;
  padding-bottom: 100px;
}
.section-round-img .container-img-round p {
  font-weight: 400;
}
.section-round-img .container-img-round p:not(:last-child) {
  margin-bottom: 10px;
}
.section-round-img .content-img-round {
  padding: 70px 0 130px;
}
.section-round-img .content-img-round p {
  font-size: 18px;
  line-height: 24px;
}
.img-round {
  border: 20px solid #707070;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 610px;
  width: 610px;
  object-fit: cover;
}
.img-round-wrapp {
  position: absolute;
  right: -200px;
  top: -200px;
  border: 65px solid #6666661a;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
#employee-focus {
  padding: 100px 0 115px;
  background-color: #EFEFEF;
}
#employee-focus .h3-custom {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27px;
}
#employee-focus .blocks-row {
  justify-content: space-between;
}
#employee-focus .block-container {
  position: relative;
  max-width: 312px;
}
#employee-focus .block-container .title-h4 {
  font-size: 24px;
  line-height: 26px;
  color: #343434;
  text-align: center;
}
#employee-focus .block-container:hover .chevron-elem {
  transform: rotate(3.142rad);
}
#employee-focus .block-overlay-hidden {
  position: relative;
}
#employee-focus .block-overlay-hidden:hover img {
  transform: scale(1.1);
}
#employee-focus h2 {
  text-align: center;
  color: #343434;
  margin-bottom: 20px;
}
#employee-focus .block-wrapp {
  position: relative;
}
#employee-focus .block-img {
  overflow: hidden;
  border-radius: 30px;
}
#employee-focus .block-img img {
  width: 100%;
  height: 466px;
  object-fit: cover;
  border-radius: 30px;
  transition: 0.5s ease all;
}
#employee-focus .block-title {
  position: absolute;
  height: 55px;
  bottom: 30px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 30px 30px;
}
#employee-focus .hover-block-wrapp {
  display: none;
  position: absolute;
  top: 335px;
  background: #ffffffd9;
  border-radius: 30px;
  height: 100%;
  padding: 45px 18px 40px;
  pointer-events: none;
}
#employee-focus .hover-block-wrapp .title-h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
#employee-focus .hover-block-wrapp .hover-block-content ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 30px;
  padding-left: 40px;
}
#employee-focus .hover-block-wrapp .hover-block-content ul li {
  line-height: 22px;
  font-weight: 400;
  position: relative;
  margin-left: 10px;
}
#employee-focus .hover-block-wrapp .hover-block-content ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 10px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #C3002F;
}
#employee-focus .hover-block-wrapp .hover-block-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
#employee-focus .hover-block-wrapp .title-h4 {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 15px;
}
#employee-focus .chevron-elem {
  background-image: url('../img/arrow-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -15px;
  left: 45%;
  height: 34px;
  width: 34px;
  background-color: #000000;
  z-index: 3;
}
#employee-focus .chevron-elem:hover {
  transform: rotate(3.142rad);
}
.section-slider-2 {
  overflow: unset;
  margin-bottom: 17px;
}
.section-slider-2 .slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 180px;
  height: 555px;
}
.section-slider-2 .slide .h3-custom {
  font-size: 40px;
  line-height: 51px;
  font-weight: 700;
}
.section-slider-2 .slide .slide-wrapp {
  padding: 76px 65px 50px;
  background-color: #0000009e;
  height: 375px;
}
.section-slider-2 .slide.slide-1 {
  background-image: url('../img/webp/sl-1.webp'), url('../img/sl-1.png');
}
.section-slider-2 .slide.slide-1 .slide-wrapp {
  padding: 50px 0 30px;
}
.section-slider-2 .slide.slide-1 .h3-custom {
  font-size: 60px;
  line-height: 77px;
}
.section-slider-2 .slide.slide-1 .right-img {
  right: -280px;
}
.section-slider-2 .slide.slide-2 {
  background-image: url('../img/webp/slide-4.webp'), url('../img/slide-4.png');
}
.section-slider-2 .slide.slide-2 .slide-wrapp {
  padding-left: 300px;
}
.section-slider-2 .slide.slide-2 .slider-content {
  max-width: 575px;
}
.section-slider-2 .slide.slide-3 {
  background-image: url('../img/webp/body-nissan.webp'), url('../img/body-nissan.png');
}
.section-slider-2 .slide.slide-4 {
  background-image: url('../img/webp/paint-nissan.webp'), url('../img/paint-nissan.png');
}
.section-slider-2 .slide.slide-4 .slide-wrapp {
  padding-left: 224px;
}
.section-slider-2 .slide.slide-4 img {
  right: -150px;
}
.section-slider-2 .slide.slide-5 {
  background-image: url('../img/webp/trim-chassis.webp'), url('../img/trim-chassis.png');
}
.section-slider-2 .slide.slide-5 .slide-wrapp {
  padding-left: 60px;
}
.section-slider-2 .slide.slide-5 .img-round-wrapp {
  top: 0;
}
.section-slider-2 .slide.slide-6 {
  overflow: hidden;
  background-image: url('../img/webp/sl-6.webp'), url('../img/sl-6.png');
}
.section-slider-2 .slide.slide-6 img {
  right: 0;
  height: 453px;
}
.section-slider-2 .slide .slider-wrapper {
  display: flex;
  gap: 55px;
}
.section-slider-2 .slider-content {
  max-width: 600px;
  color: #ffffff;
}
.section-slider-2 .right-img {
  position: absolute;
  right: -180px;
  top: 30px;
  z-index: 2;
  border-radius: 30px;
  max-width: 590px;
  max-height: 453px;
  object-fit: cover;
}
.section-slider-2 .img-round-wrapp {
  z-index: 1;
  right: 0;
}
.section-slider-2 .img-round-wrapp .img-round {
  width: 510px;
  height: 510px;
}
.section-slider-2 .slider-video {
  position: relative;
  border: solid 10px #EFEFEF;
  width: 522px;
  height: 294px;
  margin-top: -100px;
}
.section-slider-2 .slider-video .overlay-video-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: url('../img/overlay-video.png') no-repeat center / contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.section-slider-2 .slider-video .overlay-video-image::before {
  content: '';
  position: absolute;
  background: url('../img/play-video.svg') no-repeat;
  z-index: 3;
  width: 66px;
  height: 76px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-page-bottom {
  position: sticky;
  width: 100%;
}
.menu-page-bottom {
  top: 0;
  z-index: 999;
}
.statistics {
  padding: 60px 0;
  background-color: #EFEFEF;
}
.statistics .blocks {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
.statistics .blocks:first-child {
  gap: 36px;
  margin-bottom: 43px;
}
.statistics .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  padding: 50px 12px;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
.statistics .block .title {
  font-size: 48px;
  line-height: 61px;
  margin-bottom: 10px;
}
.statistics .block-img .img-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.statistics .block-img img {
  border-radius: 30px;
  max-width: unset;
}
.pin-wrap {
  /*white-space: nowrap;*/
  overflow-x: unset;
  left: 0;
  transition: all 0.3s;
  margin-bottom: -17px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.pin-wrap .subtitle {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}
.pin-wrap p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
.pin-wrap p:last-child {
  margin: 0;
}
.pin-wrap > div {
  display: inline-block;
  width: 100vw;
  flex-shrink: 0;
}
.pin-wrap::-webkit-scrollbar {
  width: 1px;
}
.pin-wrap::-webkit-scrollbar-track {
  background: #fff;
}
.pin-wrap::-webkit-scrollbar-thumb {
  background: #fff;
}
.le-section-right,
.loc-exp-bottom,
.info-block {
  display: none;
}
.le-section-right.active,
.loc-exp-bottom.active,
.info-block.active {
  display: flex;
}
