@media all and (max-width: 1025px) {
  .section-slider-2 .right-img {
    display: none;
  }
  .statistics .block-img img {
    position: relative;
  }
}
@media (min-width: 769px) {
  .section-round-img .container-img-round .info-wrapper {
    max-width: 532px;
  }
}
@media (max-width: 769px) {
  .hero-section {
    margin-top: 104px;
  }
  .hero-section .container {
    padding: 83px 33px 95px;
  }
  .hero-section .hero-content h1 {
    font-size: 60px;
    line-height: 64px;
  }
  .location-explore-wrapper {
    width: auto;
  }
  .section-slider {
    padding: 70px 0;
  }
  .section-slider .slick-next {
    right: 0;
  }
  .section-slider .slick-prev {
    left: 0;
  }
  .section-round-img .content-img-round {
    padding: 70px 0;
  }
  .section-round-img .h2-title-img {
    font-size: 150px;
    line-height: 105px;
  }
  .section-round-img .img-round-wrapp {
    border: none;
  }
  .section-round-img .img-round {
    height: 300px;
    width: 300px;
    margin: auto;
  }
  #employee-focus {
    padding: 70px 0;
  }
  #employee-focus .blocks-row {
    justify-content: center;
  }
  #employee-focus .block-container {
    padding-bottom: 50px;
  }
  .statistic {
    gap: 50px;
  }
  .statistic .statistic-container {
    gap: 50px;
  }
  .menu-page-bottom {
    top: 60px;
  }
  .statistics {
    padding: 55px 0;
  }
  .statistics .blocks {
    width: 100%;
  }
  .statistics .blocks:first-child {
    gap: 50px;
  }
  .statistics .img-col {
    height: 310px;
  }
  .statistics .block-img img {
    transform: scale(1.1);
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  #manufacturing .blocks-wrapper {
    flex-direction: column;
  }
  #manufacturing .block-container {
    flex-direction: row;
  }
  #manufacturing .image-wrapper {
    max-width: 220px;
    min-width: 220px;
    border-radius: 30px 0 0 30px;
  }
  #manufacturing .image-wrapper img {
    min-width: 220px;
    border-radius: 30px 0 0 30px;
  }
  #manufacturing .content-wrapper {
    height: 240px;
    border-radius: 0 30px 30px 0;
  }
}
@media (max-width: 426px) {
  .container {
    padding: 0 36px;
  }
  body p {
    font-size: 20px;
    font-weight: 400;
  }
  #manufacturing {
    padding: 0;
    background: none;
  }
  #manufacturing .container-small {
    padding: 50px 33px;
    margin-bottom: 0;
    background-color: #C3002F;
  }
  #manufacturing .container + .container {
    padding: 50px 33px;
    background-color: #8F0526;
  }
  #manufacturing .h2-custom {
    margin-bottom: 8px;
  }
  #manufacturing .blocks-wrapper {
    flex-direction: column;
    gap: 50px;
    padding: 0px 6px;
  }
  #manufacturing .content-wrapper {
    padding: 30px 40px 45px;
  }
  #manufacturing .content-wrapper .content-block .content {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  #manufacturing .image-wrapper {
    min-height: 170px;
  }
  #manufacturing .link-wrapper {
    display: flex;
    position: relative;
  }
  #manufacturing .link {
    max-width: 175px;
    position: unset;
    line-height: 20px;
  }
  .section-slider {
    margin: 47px 0;
    padding: 40px 0;
    background-color: #EFEFEF;
  }
  .section-slider .slick-list {
    border-radius: 0;
  }
  .section-slider .container {
    padding: 0;
  }
  .section-slider .slide {
    position: relative;
    background-color: #8F0526;
    background-size: 100% 214px;
    border-radius: 0;
    background-position: top;
    height: 523px;
    padding: 230px 45px 48px;
    align-items: center;
  }
  .section-slider .slide .slider-content h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
  }
  .section-slider .slide-1 .slider-content h2 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .section-slider .slick-arrow {
    display: none !important;
  }
  .section-slider .slick-dots {
    gap: 8px;
  }
  .section-slider .slick-dots li button::before {
    width: 44px;
  }
  .section-slider .swipe-mob {
    display: flex;
    position: absolute;
    gap: 10px;
    right: 20px;
    bottom: 17px;
  }
  .section-slider .swipe-mob p {
    font-size: 18px;
  }
  .section-slider .swipe-mob img {
    transform: rotate(90deg);
  }
  .section-slider .slick-dots {
    margin-bottom: 6px;
  }
  .section-slider .slick-dots li {
    width: 44px;
    margin: 0;
  }
  .section-round-img .h2-title-img {
    font-size: 71px;
    line-height: 52px;
    left: -3px;
  }
  .section-round-img .title-img-container {
    height: 135px;
  }
  .section-round-img .img-round-wrapp {
    right: -80px;
    top: -100px;
    border: 18px solid #66666611;
  }
  .section-round-img .img-round-wrapp .container {
    padding: 0 24px;
  }
  .section-round-img .h2-nissan {
    font-size: 50px;
    line-height: 64px;
  }
  .section-round-img .img-round {
    height: 160px;
    width: 160px;
    border: 10px solid #343434;
  }
  .section-round-img.purpose .title-img-container {
    height: 188px;
  }
  .section-round-img.purpose .img-round-wrapp {
    top: -100px;
  }
  #employee-focus {
    padding: 60px 0;
  }
  #employee-focus .container {
    padding: 0 27px;
  }
  #employee-focus .block-container .title-h3 {
    font-size: 24px;
  }
}
