@media all and (max-width: 1199px) {
  .statistics .block-img .img-col {
    justify-content: center;
  }
}
@media all and (max-width: 1025px) {
  .h1-custom,
  .h2-custom {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .hero-section .hero-right-block {
    max-width: 620px;
    margin: auto;
    margin-top: 50px;
  }
  .section-slider-2 .right-img {
    display: none;
  }
  .section-round-img .img-round {
    height: 300px;
    width: 300px;
  }
  .statistics .block-img {
    gap: 36px;
    justify-content: center;
  }
  .statistics .block-img .img-col {
    justify-content: center;
  }
  .statistics .blocks-wrapp {
    justify-content: center;
  }
  .statistics .blocks {
    max-width: 700px;
    justify-content: center;
  }
  .statistics .blocks:first-child {
    justify-content: center;
  }
  .location-explore.active {
    padding: 45px 0 70px;
  }
  .location-explore.active .main-container {
    flex-direction: column;
    align-items: center;
  }
  .le-section-right.active {
    gap: 30px;
  }
  .slider-video {
    display: none;
  }
}
@media (min-width: 769px) {
  .section-round-img .container-img-round .info-wrapper {
    max-width: 532px;
  }
  .section-round-img .title-img-container {
    background-attachment: fixed;
  }
  .hero-section .row {
    gap: 12px;
  }
}
@media (max-width: 769px) {
  .h1-custom,
  .h2-custom {
    font-size: 40px;
    line-height: 35px;
  }
  .hero-section {
    margin-top: 0;
  }
  .hero-section .container {
    padding: 0;
  }
  .hero-section .hero-right-block {
    padding: 0 33px;
  }
  .hero-section .hero-content h1 {
    font-size: 60px;
    line-height: 64px;
  }
  .hero-section .hero-content .hero-title {
    font-size: 42px;
    line-height: 45px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .hero-section #video-hero-bg {
    height: 250px;
  }
  .location-explore-wrapper {
    width: auto;
  }
  .section-slider {
    padding: 70px 0;
  }
  .section-slider .slick-next {
    right: 0;
  }
  .section-slider .slick-prev {
    left: 0;
  }
  .section-round-img .content-img-round {
    padding: 70px 0;
  }
  .section-round-img .h2-title-img {
    font-size: 9.375rem;
    line-height: 105px;
  }
  .section-round-img .img-round-wrapp {
    border: none;
  }
  .section-round-img .img-round {
    height: 300px;
    width: 300px;
    margin: auto;
  }
  #employee-focus {
    padding: 70px 0;
  }
  #employee-focus .blocks-row {
    justify-content: center;
  }
  #employee-focus .block-container {
    padding-bottom: 50px;
  }
  .statistic {
    gap: 50px;
  }
  .statistic .statistic-container {
    gap: 50px;
  }
  .statistics {
    padding: 55px 0;
  }
  .statistics .blocks {
    width: 100%;
  }
  .statistics .blocks:first-child {
    gap: 50px;
  }
  .statistics .block-img .img-col img {
    border-radius: 0;
  }
  #manufacturing {
    background: #8F0526;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  #manufacturing .blocks-wrapper {
    flex-direction: column;
  }
  #manufacturing .block-container {
    flex-direction: row;
  }
  #manufacturing .image-wrapper {
    max-width: 220px;
    min-width: 220px;
    border-radius: 30px 0 0 30px;
  }
  #manufacturing .image-wrapper img {
    min-width: 220px;
    border-radius: 30px 0 0 30px;
  }
  #manufacturing .content-wrapper {
    height: 240px;
    border-radius: 0 30px 30px 0;
  }
}
@media (max-width: 426px) {
  .container {
    padding: 0 33px;
  }
  body p {
    font-size: 20px;
    font-weight: 400;
  }
  #manufacturing .container-small {
    padding: 50px 33px;
    margin-bottom: 0;
    background-color: #C3002F;
  }
  #manufacturing .container + .container {
    padding: 50px 33px;
    background-color: #8F0526;
  }
  #manufacturing .h2-custom {
    margin-bottom: 8px;
  }
  #manufacturing .blocks-wrapper {
    flex-direction: column;
    gap: 50px;
    padding: 0px 6px;
  }
  #manufacturing .content-wrapper {
    padding: 30px 40px 45px;
  }
  #manufacturing .content-wrapper .content-block .content {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  #manufacturing .image-wrapper {
    min-height: 170px;
  }
  #manufacturing .link-wrapper {
    display: flex;
    position: relative;
  }
  #manufacturing .link {
    max-width: 175px;
    position: unset;
    line-height: 20px;
  }
  .section-slider {
    margin: 0;
    padding: 0 0 40px;
    background-color: #EFEFEF;
  }
  .section-slider .slick-list {
    border-radius: 0;
  }
  .section-slider .container {
    padding: 0;
  }
  .section-slider .slide {
    position: relative;
    background-color: #8F0526;
    background-size: 100% 214px;
    border-radius: 0;
    background-position: top;
    height: 523px;
    padding: 230px 45px 48px;
    align-items: center;
  }
  .section-slider .slide .slider-content h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
  }
  .section-slider .slide-1 .slider-content h2 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .section-slider .slick-arrow {
    display: none !important;
  }
  .section-slider .slick-dots {
    gap: 8px;
  }
  .section-slider .slick-dots li button::before {
    width: 44px;
  }
  .section-slider .swipe-mob {
    display: flex;
    position: absolute;
    gap: 10px;
    right: 20px;
    bottom: 17px;
  }
  .section-slider .swipe-mob p {
    font-size: 18px;
  }
  .section-slider .swipe-mob img {
    transform: rotate(90deg);
  }
  .section-slider .slick-dots {
    margin-bottom: 6px;
  }
  .section-slider .slick-dots li {
    width: 44px;
    margin: 0;
  }
  .section-round-img .h2-title-img {
    font-size: 71px;
    line-height: 52px;
    left: -3px;
  }
  .section-round-img .title-img-container {
    height: 135px;
  }
  .section-round-img .img-round-wrapp {
    right: -80px;
    top: -100px;
    border: 18px solid #66666611;
  }
  .section-round-img .img-round-wrapp .container {
    padding: 0 24px;
  }
  .section-round-img .h2-nissan {
    font-size: 50px;
    line-height: 64px;
  }
  .section-round-img .img-round {
    height: 160px;
    width: 160px;
    border: 10px solid #343434;
  }
  .section-round-img.purpose .title-img-container {
    height: 188px;
  }
  .section-round-img.purpose .img-round-wrapp {
    top: -100px;
  }
  .section-round-img .title-img-wrapp {
    padding-top: 10px;
  }
  .section-round-img .content-img-round {
    padding-bottom: 0;
  }
  #employee-focus {
    padding: 60px 0;
  }
  #employee-focus .container {
    padding: 0 33px;
  }
  #employee-focus .block-container .title-h3 {
    font-size: 24px;
  }
  .location-explore .main-container {
    padding: 0 15px;
  }
  .location-explore-wrapper {
    padding: 25px 20px !important;
  }
  .location-explore-wrapper .title-top {
    font-size: 20px;
    line-height: 20px;
  }
  .location-explore-wrapper .title-bottom {
    font-size: 12px;
  }
  .location-explore-wrapper .info-block.active {
    flex-direction: column-reverse;
  }
  .location-explore-wrapper .info-block.active .col,
  .location-explore-wrapper .info-block.active .col-8 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .location-explore-wrapper .info-block.active .col {
    flex-direction: column;
    align-items: center;
  }
  .location-explore .loc-exp-bottom {
    gap: 30px;
  }
  .location-explore .loc-exp-bottom .bottom-col.bc-1,
  .location-explore .loc-exp-bottom .bottom-col.bc-2 {
    margin: auto;
  }
  .location-explore.active .product-container {
    padding: 20px 5px;
    width: 320px;
  }
  .le-section-right.active {
    flex-direction: column;
  }
  .right-section {
    gap: 30px;
  }
  .pin-wrap {
    margin-left: 0;
  }
  .section-slider-2 .slide {
    padding: 0;
  }
  .section-slider-2 .slide .slide-wrapp {
    height: 100%;
    padding: 0;
    padding: 50px 0 30px;
  }
  .section-slider-2 .slide .img-round-wrapp {
    display: none;
  }
  .h1-custom {
    line-height: 35px;
  }
}
